[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap4 = "*"
django-crispy-forms = "*"
pillow = "*"
xhtml2pdf = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.10"
